body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0em;
  padding: 0em;
}

header {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding: 1.5em;
  margin: 0;
  text-align: center;
}

.websitenaam :hover {
  transform: scale(2.3);
  padding: 0;
  transition: all 50ms ease;
}

nav ul { 
  padding: 0;
  margin: 0;
  background-color: lightgray;
  text-align: center;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav li a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  padding: 0.625em;
  color: black;
  text-decoration: none;
  font-size: large;
}

.button :hover {
  padding: 0.1875em;
  transform: scale(1.4);
}

/* ------------------------------------------start body--------------------------------------------- */

main {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 4em;
  padding-right: 4em;
  margin: 2em;
}

.titel {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 600;
  background-color: white;
}

body article p{
  max-width: 100%;
  font-size: larger;
}

article img , div img {
  width: 17em;
  height: 17em;
  margin-left: 1em;
  border: 0.5em solid black;
  background-color: white;
}

.artist :hover {
  filter:brightness(1.5);
  transform: scale(1.1);
}

main section article {
  background-color: black;
  padding: 1.25em;
  margin: 0.2em;
  border-radius: 1.25em;
}

main article h3 {
  padding: 0em;
  margin: 0em;
  font-size: x-large;
  justify-content: center;
  display: flex;
}

footer {
  background-color: black;
  color: white;
  padding: 1.25em;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* hoort bij discography */

main section p {
  font-size: larger;
}

main section h3 {
  font-size: xx-large;
  margin: 0em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  justify-content: left;
  display: flex;
}

section article img {
  width: 7em;
  height: 7em;
  float: right;
  display: flex;
}

section article h4 {
color: red;
font-family: sans-serif;
font-size: 1.5em;
padding: 0em;
margin: 0.5em;
}

section article p {
color: white;
font-size: 1.5em;
font-family: sans-serif;
margin: 0.5em;
padding: 0.1em;
font-style: italic;
}

audio {
  border-radius: 1em;
  margin: 0.5em;
  padding: 0.1em;
}
