body{
    background-color: darkolivegreen;
} 




h2 {
    color:grey;
}
button {
    border: 3px solid black; 
    background-color: violet;
    padding: .5em .3em .1em .6em; 
    margin: 1em

}

.nietgroen {
    color:black;
}